<?php
# uncomment the next line if you want to make tracking down errors easier
#error_reporting(E_ALL | E_STRICT);

# EDITME: application path - MAKE SURE YOU END WITH A /
# this is the path relative to the domain name. If you are the main app - ie 
# the index page is at http://domain-name.org/index.php then this should be
#$app_path = '/';
# If the index page is at http://domain-name.org/justliving/index.php then use
#$app_path = '/justliving/';
$app_path = '/';

# css path
$css_path = '/css';

# Various variables 
$city = 'Cambridge';
$guide_name = 'Just Living';
$guide_subtitle = 'A proper positive guide to Cambridge';
$default_page_title = "Just Living - A proper positive guide to Cambridge";

# is wiki in use, and what is the url
$wiki_in_use = true;
$wiki_url = 'http://wiki.justliving.org.uk/';

# is stats package in use, and what is the url
$stats_in_use = true;
$stats_url = 'http://www.justliving.org.uk/admin/phpMyAdmin/';

# is database admin in use, and what is the url
$db_admin_in_use = true;
$db_admin_url = 'http://www.justliving.org.uk/admin/stats.php';

# set time zone - for full list see http://uk3.php.net/manual/en/timezones.php
$time_zone = "Europe/London";
date_default_timezone_set($time_zone);

# make this path point to your copy of the funcs.php file
#
# note this is a file system path as the included files should not be directly 
# accesssible through the web, hence looking different to the other paths.
$funcs_include_path = '/home/httpd/vhosts/justliving.org.uk/phpincs/';
set_include_path(get_include_path() . PATH_SEPARATOR . $funcs_include_path);

@(include($funcs_include_path . "funcs.php")) OR
  die ("Could not find funcs.php. Make sure you have set the path of funcs.php in config.php");

?>
